.Container {
    display: flex;
    flex-direction: row;
    min-width: 30%;
    height: 100vh;
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .LeftContainer_header {
    color: white;
    font-size: 2.604vw;
    margin: 3% 0% 0% 5%;
  }
  
  .logo {
    width: 80%;
    height: 25%;
    margin: 5% 0% 1% 10%;
  }
  
  .Company_name {
    color: white;
    margin: 5% 0 0 5%;
  }
  
  .LeftContainer {
    width: 50%;
  }
  